<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">RadArduino</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navStandard">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navStandard">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link">Connected Devices: {{connected}}</a>
      </li>
    </ul>
  </div>
</nav>

<agm-map class="h-100" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker 
      *ngFor="let marker of markers; let i = index"
      [latitude]="marker.lat"
      [longitude]="marker.lng">
        
      <agm-info-window>
        <h6><strong>{{marker.label}}</strong></h6>
        <p>lat: {{marker.lat}}</p>
        <p>lng: {{marker.lng}}</p>
      </agm-info-window>
      
    </agm-marker>
</agm-map>